<div class="container">

<div class="page-header">
  <h1>User Stories and Business Rules</h1>
</div>

<h4>User Stories</h4>

<ol>
  <li>As an admin*, I want to sign up for service</li>
  <li>As an admin, I would like to add student users to my account at sign up time.</li>
  <li>As an admin, I would like to add student users to my account after sign up time.</li>
  <li>As an admin, I would like to edit certain student account information.</li>
  <li>As an admin, I would like to delete my account.</li>
  <li>As an admin, I would like to delete student accounts.</li>
  <li>As an owner, I would like to add new videos.</li>
  <li>As an owner, I would like to edit video information.</li>
  <li>As an owner, I would like to delete videos.</li>
  <li>As an admin, I would like to purchase the service with a credit card</li>
  <li>As an admin or a user, I would like to view content at my reading level.</li>
  <li>As an admin, I would like to know if my student(s) are understanding the content provided.</li>
  <li>As an admin, I would like to view information about the content my students are watching that will inform my decision on their reading level.</li>
  <li>As any user, I would like to view videos.</li>
  <li>As a user, I would like to get to choose my password after an admin signs me up</li>
  <li>As a user, I would like to rate the content I watch</li>
  <li>As a user, I would like to click on a subtitled word to see its definition</li>
  <li>As a user, I would like to first be presented content that aligns to the genre of content I have chosen before.</li>
</ol>


<h4>Business Rules</h4>

<ol>
  <li>Admin users must be able to see student progress.</li>
  <li>Videos should have subtitles at different lexical reading levels.</li>
  <li>Subtitles should be able to be looked up to find their definition.</li>
  <li>Student users should only get one time passwords to start.</li>
  <li>Passwords must be encrypted.</li>
</ol>

</div>
