<h1>Welcome to lexiflix, <%= @user.name %></h1>
<p>Your username is: <%= @user.username %></p>
<p>We're excited to bring you so far just stupid movies with my pets in them!</p>
<% if !@students.empty? %>
  <p>Here's a list of authorized usernames and one-time passwords for you to dole out.</p>
  <p>Once these users login one time with this password, they will be prompted to change their passwords.</p>
<% end %>
  <p>To login to the site, please follow this link: <%= @url %>.</p>
