    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>lexiflix</h1>
                        <h3>Watch and Learn.</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                          <a href="/users/new" class="btn btn-default btn-lg"><span class="network-name">Start Watching</span></a>
                          <a href="/sessions/new" class="btn btn-default btn-lg"><span class="network-name">Sign In</span></a>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Watch what you love.<br>Learn all the time.</h2>
                    <p class="lead">lexiflix offers you the ability to foster the growth of those you care about by providing entertaining
                      content that keeps viewers of all ages wanting more. Features such as linked word look-up and lexical level matching make following along easy for all viewers.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <!-- <img class="img-responsive" src="person-reading.jpg" alt=""> -->
                    <%= image_tag "person-reading.jpg", class: 'img-responsive' %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    </div>
    <!-- /.banner -->
