<script>
  //console.log("your loc id is " + <%= @video.loc_id %>);
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      height: '390',
      width: '640',
      videoId: '<%= @video.loc_id %>',
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }

  function onPlayerReady(event) {
    event.target.playVideo();
  }

  var done = false;
  function onPlayerStateChange(event) {
    // if (event.data == YT.PlayerState.PLAYING && !done) {
    //   setTimeout(stopVideo, 6000);
    //   done = true;
    // }
  }
  function stopVideo() {
    player.stopVideo();
  }

  function returnTime() {
    var videoTime = player.getCurrentTime();
    $(".time-display").text(videoTime);
  }
</script>

<div class="container">
  <div class="page-header">
    <h1><%= @video.title %></h1>
  </div>
<div class="row video-container">
  <div id="player"></div>
  <!-- below is beginning code for the ability to watch videos at various lexical levels -->
  <!-- <h4><a onclick="returnTime()" href="#">See the video time</h4>
   <div class="time-display">
    <h4 class="video-time"></h4>
  </div> -->
</div>
</div>
